#grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 100vw;
}

#map-grid {
  grid-column: 1 / 5;
  grid-row: 1 / 1;
  width: 50vw;
  position: relative;
}

#timeline-full-grid {
  grid-column: 5 / 9;
  grid-row: 1 / 1;
  min-width: 200px;
  min-height: 200px;
}

#timeline-zoom-grid {
  grid-column: 5 / 9;
  grid-row: 2 / 3;
}

#data-grid {
  grid-column: 5 / 9;
  grid-row: 3 / 5;
}

#legend-full {
  display: list;
  text-align: left;
}

#legend-full span {
  display: list-item;
}

#water-path {
  position: absolute;
  left: 0px;
  top: 0px;
}
